<h1>{{title}}</h1>

<div>
  <p>A neuroanatomical technique that provides information about the details of neuronal structure is electron microscopy</p>
  <p>Because of the nature of light, the limit of magni- fication in light microscopy is about 1,500 times, a level of magnification insufficient to reveal the fine anatomical de- tails of neurons. Greater detail can be obtained by first coat- ing thin slices of neural tissue with an electron-absorbing substance that is taken up by different parts of neurons to different degrees, then passing a beam of electrons through the tissue onto a photographic film. The result is an electron micrograph, which captures neuronal structure in exquisite detail.</p>
</div>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Misc_pollen.jpg/1200px-Misc_pollen.jpg" alt="">